@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #06090c 96.03%);
  font-family: "Fredoka One", cursive;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 57px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 55px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 150px;
}

.titulo {
  margin-left: 18px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h2 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  font-size: 15px;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin-top: 28px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-itens {
  list-style-type: none;
  line-height: 50px;
  font-weight: 400;
  font-size: 25px;
}

.projetos-itens a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f7f7f7;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}